In [30]:
import pandas as pd

In [38]:
action=pd.read_csv('action.csv')

C:\Users\Prathik\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
action.head()

,Date,District,Chiefdom,Section,Name_of_community,a_q1,Action_point,Comment,Comment.1,Comment.2
0,NaN,Bonthe,Sogbini,Pengor,Batogie,NaN,Avoid keeping strangers,NaN,NaN,NaN
1,NaN,Bonthe,Sogbini,Pengor,Batogie,NaN,Selection of village champion,NaN,NaN,NaN
2,NaN,Bonthe,Sogbini,Pengor,Batogie,NaN,Don't touch dead bodies,NaN,NaN,NaN
3,NaN,Bonthe,Bum,Lanji,Bumpetoke,NaN,Do not eat bush animals,NaN,NaN,NaN
4,NaN,Bonthe,Sogbini,Pengor,Karleh,NaN,Avoid eating meat,NaN,NaN,NaN

In [42]:
action.shape

(204113, 10)

In [41]:
action.dropna(axis=0, how='all',inplace=True)

In [6]:
pd.set_option('display.max_columns',70)

In [43]:
action.dtypes

Date                 object
District             object
Chiefdom             object
Section              object
Name_of_community    object
a_q1                 object
Action_point         object
Comment              object
Comment.1            object
Comment.2            object
dtype: object

In [8]:
for col in action.columns:
    if 'Unnamed' in col:
        del action[col]

In [13]:
action['Date'].fillna('',inplace=True)

In [17]:
action.Date = [x.strip().replace(' ', '_') for x in action.Date]

In [44]:
action['Date']=pd.to_datetime(action['Date'])

ValueError: Unknown string format

In [21]:
print(action.ix[559])

Date
District                                                    Bo
Chiefdom                                                 Wonde
Section                                           upper kargoi
Name_of_community                                        Dai 2
a_q1                                                       NaN
Action_point         Reporting the sick to the health workers.
Comment                                              Effective
Comment.1                                                  NaN
Comment.2                                                  NaN
Name: 559, dtype: object

C:\Users\Prathik\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [48]:
action.isnull().sum()

Date                 0
District             0
Chiefdom             0
Section              0
Name_of_community    0
a_q1                 0
Action_point         0
Comment              0
Comment.1            0
Comment.2            0
dtype: int64

In [23]:
other_trigger.columns.str.replace(' ','@')

Index(['Trig_date', 'District', 'Chiefdom', 'Section', 'Name_of_community',
       'Name_of_mob', 't_q1', 't_q2', 't_q3', 't_q4', 't_q5', 't_q6', 't_q7',
       't_q8', 't_q9', 't_q10', 't_q11'],
      dtype='object')

In [46]:
def myfillna(series):
    if series.dtype is pd.np.dtype(float):
        return series.fillna('NA')
    elif series.dtype is pd.np.dtype(int):
        return series.fillna('NA')
    else:
        return series.fillna('NA')

In [47]:
action=action.apply(myfillna)

In [49]:
action.head()

,Date,District,Chiefdom,Section,Name_of_community,a_q1,Action_point,Comment,Comment.1,Comment.2
0,NA,Bonthe,Sogbini,Pengor,Batogie,NA,Avoid keeping strangers,NA,NA,NA
1,NA,Bonthe,Sogbini,Pengor,Batogie,NA,Selection of village champion,NA,NA,NA
2,NA,Bonthe,Sogbini,Pengor,Batogie,NA,Don't touch dead bodies,NA,NA,NA
3,NA,Bonthe,Bum,Lanji,Bumpetoke,NA,Do not eat bush animals,NA,NA,NA
4,NA,Bonthe,Sogbini,Pengor,Karleh,NA,Avoid eating meat,NA,NA,NA

In [50]:
action.to_csv('clean_action.csv',index=False)