In [1]:
import pandas as pd

In [2]:
other_follow=pd.read_csv('other_follow.csv')

In [3]:
other_follow.head()

,District,Code_Mob,Chiefdom,Section,Name_of_community,Date_of_Visit,f_q1,f_q2,f_q3,f_q4,f_q5,f_q6
0,Bo,7,Komboya,NaN,Mano,10-Jan-15,NaN,NaN,NaN,they happy now that the medical team are reall...,"no strnger is allow ,and hand washing is frequent","strangers are not allow,no body contact,no vis..."
1,Bo,BO19,Badjia,NaN,Normiyama,06-Jan-15,1.0,Yes because the community members were allowed...,NaN,"They want government to reopen schools, when w...",Frequent and regular hand washing,Report all sick people to the health center
2,Bo,BO19,Badjia,NaN,Saaso,07-Jan-15,0.0,NaN,Though there has been no death conducted by th...,Government should train community people to ca...,Frequent and regular hand washing,Refering all sick people to the health centre
3,Bo,BO19,Badjia,NaN,Ngiehun,08-Jan-15,NaN,NaN,NaN,"The reopening of schools, the reactivation of ...",Frequent and regular hand washing,No public or social gathering
4,Bo,BO19,Badjia,NaN,Grima,09-Jan-15,NaN,NaN,NaN,The community members want veronical buckets a...,No Ebola cases in our community and all sick p...,No body contact or hand shaking

In [4]:
other_follow.shape

(35997, 12)

In [5]:
other_follow.dropna(axis=0, how='all').shape

(35997, 12)

In [6]:
pd.set_option('display.max_columns',70)

In [7]:
other_follow.dtypes

District              object
Code_Mob              object
Chiefdom              object
Section               object
Name_of_community     object
Date_of_Visit         object
f_q1                 float64
f_q2                  object
f_q3                  object
f_q4                  object
f_q5                  object
f_q6                  object
dtype: object

In [8]:
for col in other_follow.columns:
    if 'Unnamed' in col:
        del other_follow[col]

In [17]:
other_follow['Date_of_visit']=pd.to_datetime(other_follow['Date_of_Visit'])

ValueError: Unknown string format

In [11]:
other_follow.isnull().sum()

District                 0
Code_Mob             31949
Chiefdom              8522
Section              12832
Name_of_community        0
Date_of_Visit         2012
f_q1                  9580
f_q2                 16375
f_q3                 33020
f_q4                  3452
f_q5                 22322
f_q6                 32798
dtype: int64

In [12]:
other_follow.columns.str.replace(' ','@')

Index(['District', 'Code_Mob', 'Chiefdom', 'Section', 'Name_of_community',
       'Date_of_Visit', 'f_q1', 'f_q2', 'f_q3', 'f_q4', 'f_q5', 'f_q6'],
      dtype='object')

In [13]:
def myfillna(series):
    if series.dtype is pd.np.dtype(float):
        return series.fillna('NA')
    elif series.dtype is pd.np.dtype(int):
        return series.fillna('NA')
    else:
        return series.fillna('NA')

In [14]:
other_follow=other_follow.apply(myfillna)

In [16]:
other_follow.head()

,District,Code_Mob,Chiefdom,Section,Name_of_community,Date_of_Visit,f_q1,f_q2,f_q3,f_q4,f_q5,f_q6
0,Bo,7,Komboya,NA,Mano,10-Jan-15,NA,NA,NA,they happy now that the medical team are reall...,"no strnger is allow ,and hand washing is frequent","strangers are not allow,no body contact,no vis..."
1,Bo,BO19,Badjia,NA,Normiyama,06-Jan-15,1,Yes because the community members were allowed...,NA,"They want government to reopen schools, when w...",Frequent and regular hand washing,Report all sick people to the health center
2,Bo,BO19,Badjia,NA,Saaso,07-Jan-15,0,NA,Though there has been no death conducted by th...,Government should train community people to ca...,Frequent and regular hand washing,Refering all sick people to the health centre
3,Bo,BO19,Badjia,NA,Ngiehun,08-Jan-15,NA,NA,NA,"The reopening of schools, the reactivation of ...",Frequent and regular hand washing,No public or social gathering
4,Bo,BO19,Badjia,NA,Grima,09-Jan-15,NA,NA,NA,The community members want veronical buckets a...,No Ebola cases in our community and all sick p...,No body contact or hand shaking

In [18]:
other_follow.to_csv('clean_other_follow.csv',index=False)